.container {
  max-width: 700px;
  min-width: 694px;
  margin: auto;

  text-align: center;
}
.heading {
  margin-top: 32px;
  padding: 24px;

  color: var(--secondary-bg);
  background: var(--primary-accent);

  border: 4px double var(--secondary-bg);
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 2px solid var(--secondary-bg);
}
.content {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;

  background: var(--foilage);

  border: 4px double var(--secondary-bg);
  border-top: none;
  border-bottom: none;
}
.gap {
  padding: 7px 12px;
}
.open-section {
  background: var(--foilage);
  border: 4px double var(--secondary-bg);
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* ul */
.tags ul {
  border-right: 1px solid var(--secondary-bg);

  border-bottom-right-radius: 12px;
}
/* Tabs */
.tag-tab,
.rating-tab {
  margin-bottom: 12px;
  padding: 6px 12px;

  background: var(--light-primary-bg);
  color: var(--secondary-bg);

  border-bottom: 2px solid var(--secondary-bg);

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  font-family: "Josefin Slab", serif;

  cursor: pointer;
}
.open-tab {
  background: var(--primary-accent);
}
.tag-tab {
  margin-left: 140px;
}
.rating-tab {
  margin-right: 140px;
}

/* list-item */
.list-item {
  padding: 8px;

  background: var(--foilage);

  border: 1px solid var(--secondary-bg);

  font-size: 1.2em;

  list-style-type: none;
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  font-weight: 600;
}
.tags .list-item:last-of-type {
  margin-bottom: 16px;
}
.ratings .list-item:last-of-type {
  margin-bottom: 16px;
}
.tags .list-item {
  margin-left: 60px;
  margin-right: 60px;

  border-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ratings .list-item {
  margin-right: 60px;
  margin-left: 60px;

  border-radius: 10px;
}

/* li:hover */
.open-section li:hover {
  background: var(--primary-accent);

  cursor: pointer;
}
.tags li:hover {
  margin-right: 12px;
  margin-left: 12px;
}
.ratings li:hover {
  margin-right: 12px;
  margin-left: 12px;
}

/* li:hover a */
/* .section li:hover a {
  text-decoration: none;
}
.section li a {
  color: var(--lightest-primary-bg);
} */

.msg-select-category {
  padding: 20px;

  background: var(--foilage);

  /* border: 4px double var(--secondary-bg); */
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.link {
  color: var(--secondary-bg);
}
.minor-heading {
  font-family: "Inknut Antiqua", serif;
  font-size: 24px;
  margin-bottom: 16px;
}
