.login {
  max-width: 800px;
  margin: auto;
  padding: 24px 40px;
  margin-top: 24px;

  /* border: 1px solid rgb(214, 149, 84); */
  border-radius: 8px;
  box-shadow: 2px 2px 1px 0.5px rgba(34, 39, 29, 0.459);

  font-family: "Rajdhani", sans-serif;
  color: rgb(214, 149, 84);

  background: rgb(77, 86, 68);
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-form h2 {
  padding-bottom: 12px;
  font-size: 40px;
}

.login-form span {
  padding: 8px;
  font-size: 24px;
}

.login-form input {
  margin-top: 8px;
  margin-left: 16px;
  padding: 4px 2px;
  font-size: 16px;
}

.login-form label {
  margin: auto;
  margin-bottom: 16px;
}

.login-form .btn {
  margin: 24px 120px;
  padding: 8px 12px;
  text-align: center;

  border: 1px solid rgb(214, 149, 84);
  border-radius: 2px;

  font-size: 18px;
  font-weight: 600;

  color: rgb(214, 149, 84);
  background: none;
}

.login-form .btn:hover {
  background: rgb(214, 149, 84);
  color: #3d4634ff;

  border: 1px solid rgb(228, 190, 151);
  /* box-shadow: 0px 0px 0px 1px rgba(228, 189, 151, 0.434); */
}

.input-container {
  display: flex;
  flex-direction: column;
}
