rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
      match /guest/{document=**} {
      allow read;
    }
    match /users/{user_id}/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}