.content {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  color: var(--light-primary-accent);
}

.heading {
  padding-top: 16px;
  padding-bottom: 32px;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.content label,
.content legend {
  font-weight: 600;
  font-size: 1.2em;
}

.content fieldset {
  margin: 20px;
}

.content form {
  max-width: 900px;
  display: flex;
  flex-flow: row wrap;

  border-radius: 12px;

  background: var(--light-primary-bg);
  color: var(--extra-text);

  margin: 0px 0px 20px 0px;
  padding: 20px 40px;
}

.form-row,
.form-row-full {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid var(--secondary-bg); */
}

.form-row {
  flex-basis: 50%;
  align-items: center;

  margin-bottom: 20px;
  padding: 2px;

  /* border: 1px solid var(--secondary-bg); */
}

.form-row-full {
  flex-basis: 100%;
}

.content fieldset {
  display: flex;
  flex-flow: row wrap;
  border: none;
}

.content legend {
  flex: 1;
  width: 100%;
}

.title label {
  padding: 8px 20px 0px 0px;
  margin-bottom: 8px;
}

.content input {
  margin: 4px 0px 0px 0px;
  max-height: 24px;
}

.form-row:nth-of-type(odd) input {
  margin-right: 12px;
}

.form-row:nth-of-type(even) label {
  margin-left: 12px;
}

.form-row input {
  margin: 0 16px;
  padding: 16px 8px;

  text-align: left;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}
.content input,
.content select,
.content textarea {
  background: var(--lightest-primary-bg);

  border: 1px solid var(--primary-bg);
  border-radius: 4px;
}
.content input[type="date"] {
  cursor: text;
}

.form-row input:focus {
  outline: none !important;
  border: 1px solid #eab4b4;
}

.content textarea {
  flex: 1;

  width: 100%;
  min-height: 200px;

  margin-top: 1em;
  padding: 1em;
  border-radius: 12px;

  text-indent: 30px;
  text-align: left;
  font-size: 16px;
}

.content textarea:focus {
  border: 1px solid var(--extra-text);
  border-radius: 12px;

  outline: none !important;
}

.post-btn {
  /* content-box padding + form margin */
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 10px 20px;

  border: 1px solid rgb(75, 53, 53);
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(48, 33, 33, 0.466);

  background: var(--dark-primary-bg);
  color: var(--lightest-primary-bg);

  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 0.8em;

  cursor: pointer;
}

.post-btn:hover {
  background: var(--lightest-primary-bg);
  color: var(--dark-primary-bg);
}

/* --------------- Tags -------------------- */
.tags-container fieldset {
  display: flex;
  margin-left: 60px;
  justify-content: space-between;
}
.tags-container legend {
  margin-left: -60px;
  margin-top: 12px;
}

.tags-container label {
  font-weight: 400;
}
.tag-holder {
  display: flex;
  flex: 1 20%;
  justify-content: center;

  margin: 4px;
}

.tag-option {
  display: flex;
  align-items: center;
  padding: 4px 16px;

  border: 1px solid var(--lightest-primary-bg);
  border-radius: 8px;

  color: var(--lightest-primary-bg);
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 0.7em;

  cursor: pointer;
}

.tag-option:hover {
  background: var(--dark-primary-bg);
  border: 1px solid var(--dark-primary-bg);
}
.checked {
  background: var(--dark-primary-bg);
}
.tag {
  display: none;
}

/* -------------------- Rating --------------------- */
.rating-container {
  display: flex;
  margin-top: -20px;
}
.rating-container div:first-of-type {
  margin-left: 96px;
}
.rating-container div {
  margin-top: 12px;
  margin-left: 12px;
}
.rating-holder {
  font-size: 20px;
  display: flex;
  flex-direction: 20%;
  justify-content: space-between;

  margin: 4px;
}

.rating-option {
  display: flex;
  align-items: center;
  padding: 4px 16px;

  border: 1px solid var(--lightest-primary-bg);
  border-radius: 8px;

  color: var(--lightest-primary-bg);
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 0.7em;

  cursor: pointer;
}

.rating-option:hover {
  border: 1px solid var(--dark-primary-bg);
}

.rating {
  display: none;
}
.selected {
  background: var(--dark-primary-bg);
}

/* -------------------- Tablet Styles ---------------- */
/* @media only screen and (min-width: 510px) and (max-width: 700px) {
  .content {
    font-size: 12px;
  }
} */

/* ------------------- Mobile Styles ----------------- */
/* @media only screen and (max-width: 509px) {
  .content {
    font-size: 10px;
  }
} */
