.content {
  max-width: 700px;
  min-width: 694px;
  margin: auto;

  text-align: center;
}
.heading {
  padding-bottom: 16px;
  padding-top: 32px;
}
.list-item {
  padding: 16px;
  list-style-type: none;
}
.link {
  color: rgb(214, 149, 84);
  font-size: 60px;
  font-family: "Estonia", cursive;
}

/* -------------------- Tablet Styles ---------------- */
@media only screen and (min-width: 510px) and (max-width: 700px) {
  .content {
    max-width: 700px;
    min-width: 510px;
    border: 2px solid rgb(0, 255, 153);
  }
}
