nav {
  display: flex;
  height: 50px;
  flex-direction: row;
  background: #966533ff;

  border-left: 3px solid #704c28;
  border-right: 3px solid #704c28;

  margin: auto;
  max-width: 900px;
}

nav ul {
  display: flex;
  margin: auto;

  align-items: center;
  justify-content: space-between;

  padding: 2px;

  color: #966533ff;
  font-size: 22px;
  background: #2e2525ff;
  border-left: 3px solid #704c28;
  border-right: 3px solid #704c28;
  border-bottom: 3px solid #704c28;
  border-radius: 4px;

  width: 800px;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-tab {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.nav-create-btn {
  display: flex;
  /* border-bottom: 3px solid #704c28;
  border-left: 3px solid #704c28; */
}
