nav {
  margin: auto;

  display: flex;
  justify-content: center;

  color: var(--primary-accent);
  font-size: 16px;
  font-family: "Dosis", sans-serif;

  border-top: 3px double var(--primary-accent);
}
nav a {
  font-size: 1.2em;
  color: var(--primary-accent);
}

nav ul {
  display: flex;

  max-width: 900px;
  list-style-type: none;
}

.section {
  margin: 0px 20px;
  font-weight: 700;
  text-align: center;
}

.nav-create-btn {
  display: flex;
  align-items: center;
}

.nav-create-btn:hover {
  background: var(--primary-accent);
}

.nav-create-btn:hover a {
  color: var(--secondary-bg);
  text-decoration: none;
}

.middle {
  display: flex;
}

.nav-tab {
  display: flex;

  padding: 1em 1em;

  background: var(--light-primary-bg);
  border: 1px solid var(--primary-accent);
  border-top: none;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  text-align: center;
  align-items: center;
}

.nav-tab:hover {
  background: var(--primary-accent);
  color: var(--light-primary-bg);
}

.user-tab {
  display: flex;

  flex-direction: column;
}

.user-name {
  display: flex;
  margin-top: 2px;
  margin-bottom: 0px;

  justify-content: center;
  font-size: 1em;
}

nav button {
  display: flex;
  color: var(--primary-accent);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
}

.side {
  justify-content: center;

  padding: 4px 12px;
  border: 1px solid var(--primary-accent);
  border-top: none;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.side:hover {
  background: var(--primary-accent);
  color: var(--light-primary-bg);
}

.nav-tab:hover a {
  color: var(--primary-bg);
}

.nav-tab a {
  text-decoration: none;
}

.side:hover button {
  color: var(--light-primary-bg);
  cursor: pointer;
  text-decoration: underline;
}

.admin-tabs {
  display: flex;
  flex-direction: row;
}

.admin-tab {
  display: flex;

  padding: 12px 12px;
  margin: 0px 12px;
  border: 1px solid var(--primary-accent);
  border-top: none;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.admin-tab:hover {
  background: var(--primary-accent);
  color: var(--light-primary-bg);
}

.admin-tab:hover a {
  color: var(--light-primary-bg);
  text-decoration: none;
}

/* Tablet Styles */
@media only screen and (min-width: 510px) and (max-width: 700px) {
  nav {
    font-size: 12px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 509px) {
  nav {
    font-size: 10px;
  }
}
