nav {
  margin: auto;

  display: flex;
  justify-content: space-evenly;

  color: rgb(214, 149, 84);
  font-size: 20px;
}
a {
  color: rgb(214, 149, 84);
}

nav ul {
  border-top: 3px double rgb(214, 149, 84);
  display: flex;

  max-width: 900px;
  list-style-type: none;
}

.section {
  margin: 0px 32px;
  font-weight: 700;
}

.nav-create-btn {
  display: flex;
  padding-top: 12px;
  align-items: center;
  /* border-top: 2px solid rgb(101, 84, 214); */
}

.nav-create-btn:hover {
  background: rgb(214, 149, 84);
}

.nav-create-btn:hover a {
  /* background: rgb(214, 149, 84); */
  color: #3d4634ff;
  text-decoration: none;
}

.middle {
  display: flex;
}

.nav-tab {
  display: flex;

  padding: 12px 12px;
  border: 1px solid rgb(214, 149, 84);
  border-top: none;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.nav-tab:hover {
  background: rgb(214, 149, 84);
  color: #3d4634ff;
}

.user-tab {
  display: flex;

  flex-direction: column;
  /* border-bottom: 3px solid #704c28;
  border-left: 3px solid #704c28; */
}

.user-name {
  display: flex;
  margin-top: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;

  justify-content: center;
  font-size: 14px;

  /* border: 1px solid salmon; */
}

button {
  display: flex;
  color: rgb(214, 149, 84);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  border: 1px solid salmon;
}

.side {
  padding: 4px 12px;
  border: 1px solid rgb(214, 149, 84);
  border-top: none;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* nav .user-name {
  font-size: 12px;
} */

.side:hover {
  background: rgb(214, 149, 84);
  color: #3d4634ff;
}

.nav-tab:hover a {
  color: #3d4634ff;
}

.nav-tab a {
  text-decoration: none;
}

.side:hover button {
  color: #3d4634ff;
  cursor: pointer;
  text-decoration: underline;
}

.admin-tabs {
  display: flex;
  flex-direction: row;
}

.admin-tab {
  display: flex;

  padding: 12px 12px;
  margin: 0px 12px;
  border: 1px solid rgb(214, 149, 84);
  border-top: none;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.admin-tab:hover {
  background: rgb(214, 149, 84);
  color: #3d4634ff;
}

.admin-tab:hover a {
  color: #3d4634ff;
  text-decoration: none;
}
