nav {
  display: flex;
  height: 52px;
  flex-direction: row;

  margin: auto;
  max-width: 900px;
  background: #2e6164ff;

  /* justify-content: center; */
  align-items: center;
  color: #966533ff;
  font-size: 22px;
}

nav .section {
  /* display: flex; */
  border: 1px solid salmon;
  margin: 12px;
  list-style-type: none;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  /* margin: auto; */

  /* align-items: center;
  justify-content: space-between; */

  /* padding: 2px; */
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-tab {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.nav-create-btn {
  /* display: flex; */
  /* border-bottom: 3px solid #704c28;
  border-left: 3px solid #704c28; */
}
