.create-edit {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.create-edit h1 {
  padding-top: 16px;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.create-edit .heading-box {
  margin: 12px 0px;
  /* border: 1px solid rgb(66, 20, 34); */
}

.create-edit h2 {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 16px;

  font-family: "Calligraffitti", cursive;
  font-size: 2em;
  color: rgb(66, 20, 34);
  /* color: rgb(214, 149, 84); */
  /* font-family: "Bilbo", cursive; */
  /* font-family: "Charm", cursive; */
  /* font-family: "Estonia", cursive; */
}
.create-edit label,
.create-edit legend {
  font-weight: 600;
  font-size: 1.4em;
}

.create-edit fieldset {
  margin: 20px;
}

.create-edit .tags label {
  font-weight: 400;
  padding-left: 8px;
}

.create-edit .tags .tag-option {
  padding-left: 60px;
  font-family: "Dosis", sans-serif;
}

.create-edit form {
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;

  background: rgb(123, 78, 81);
  color: #2e2525ff;

  margin: 0px 0px 20px 0px;
  padding: 20px 40px;

  /* border: 1px solid #966533ff; */
}

.create-edit form .form-row,
.form-row-full {
  display: flex;
  justify-content: space-between;
}

.create-edit .form-row {
  flex-basis: 50%;

  align-items: center;
  padding-right: 60px;
}

.create-edit .form-row-full {
  flex-basis: 100%;
}

.create-edit fieldset div {
  flex-basis: 25%;
}

.create-edit fieldset {
  display: flex;
  flex-flow: row wrap;
  border: none;
}

.create-edit legend {
  flex: 1;
  width: 100%;
}

.create-edit .main label {
  padding: 8px 20px 0px 0px;
  margin-bottom: 8px;
}

.create-edit input {
  border: none;
  margin: 4px 0px 0px 0px;
  max-height: 24px;
  text-align: center;
}

.create-edit form div:nth-of-type(odd) input {
  margin-right: 4px;
}

.create-edit form div:nth-of-type(even) label {
  margin-left: 4px;
}

.rating-container {
  display: flex;
  justify-content: space-between;

  font-size: 20px;
}
.rating-option {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating-option {
  padding: 32px;
  /* margin: 320px; */
}

.create-edit .main-info input {
  max-height: 240px;

  font-family: "Calligraffitti", cursive;
  font-weight: 600;
  font-size: 32px;
  background: none;
  border: 1px solid rgb(66, 20, 34);
  color: rgb(66, 20, 34);
  background: rgb(152, 117, 120);
}
.create-edit input,
.create-edit select,
.create-edit textarea,
.create-edit button {
  background: #846545ff;
  color: #2e2525ff;

  border: 1px solid #2e2525ff;
  border-radius: 2px;
}

.create-edit textarea {
  flex: 1;

  width: 100%;
  min-height: 200px;

  padding: 10px;

  text-indent: 30px;
  text-align: left;
  font-size: 16px;
}

.create-edit textarea:focus {
  border: 1px solid #2e2525ff;
  border-radius: 2px;

  outline: none !important;
}

.create-edit button {
  /* content-box padding + form margin */
  background: #966533ff;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: medium;
}
