.blog-card {
  display: flex;
  flex-direction: column;

  color: #2e2525ff;

  padding: 12px 40px 0px 40px;

  margin: auto;

  max-width: 900px;
}

.content-box {
  background: rgb(66, 20, 34);
  color: rgb(214, 149, 84);

  margin: auto;
  max-width: 700px;
  min-width: 694px;

  border: 1px solid #db8b8b;
  border-radius: 24px;
}

.content-box:first-of-type {
  margin-top: 2px;
}

.top-container {
  display: flex;
  padding: 20px 20px 10px 20px;
}

.card-col-1 {
  flex: 2;
}

.card-col-2 {
  flex: 1;
}

.card-col-2 {
  display: flex;
  justify-content: flex-end;
}

.card-line {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 50%;
}

.title-line,
.author-line {
  align-items: center;
}

.author {
  padding-left: 16px;
  padding-right: 8px;
}

.authorLink {
  font-size: 30px;
}

.edit {
  max-width: 20px;
  max-height: 20px;
  margin: 0px 10px;
}

.card-image {
  padding: 20px;
  max-width: 228.677px;
  max-height: 171.667px;
}

.thumbnail {
  display: flex;
}

.date-space {
  display: flex;
  justify-content: space-between;
}

/* .date-started label,
.date-finshed label,
.tags p {
  display: flex;
  justify-content: space-between;
} */

.date-value {
  padding: 0px 0px 10px 15px;
}

.tags-value {
  padding: 0px 0px 0px 15px;
}

.tags {
  align-items: center;
}
.tags p {
  padding-right: 8px;
}

.blog-snippet,
.about-author {
  background: rgb(102, 60, 63);
  color: #eab4b4;

  margin-top: 8px;
  border-top: 3px solid rgb(214, 149, 84);
  border-bottom: 3px solid rgb(214, 149, 84);

  /* border-radius: 12px; */
  /* border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; */

  padding: 8px 32px;

  text-indent: 0px;
  text-align: left;

  line-height: 1.6em;

  font-family: "Estonia", cursive;
  font-size: 24px;
  font-weight: 600;
}

.blog-snippet :not(p:first-child) {
  text-indent: 30px;
}

.about-author :not(p:first-child) {
  text-indent: 30px;
}
