@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Estonia&family=Cinzel:wght@400;700&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bilbo&family=Calligraffitti&family=Dosis:wght@300;400;500;700&family=Josefin+Slab:ital,wght@0,300;0,600;1,400&family=Lato:ital,wght@0,300;0,700;1,400&family=Rajdhani:wght@300;500;600&display=swap");

/* 
font-family: 'Bilbo', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Charm', cursive;
font-family: 'Estonia', cursive;

font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rajdhani', sans-serif; 


font-family: 'Josefin Slab', serif;
font-family: 'Cinzel', serif;
font-family: 'Lora', serif; 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  background: rgb(102, 60, 63);
}

.content {
  margin: auto;
  margin-top: 32px;
}

h1,
.author-link,
.date-value,
.tags-value {
  font-family: "Dosis", cursive;
}

h1,
h2,
h3 {
  line-height: 1em;
}

a:link,
a:visited {
  color: rgb(214, 149, 84);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error-container {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.error {
  max-width: 600px;
  padding: 24px 96px;

  border: 2px solid rgb(204, 61, 61);
  border-radius: 4px;

  background: rgb(237, 217, 217);
  color: rgb(204, 61, 61);

  text-align: center;
  line-height: 1.6;
}

.btn {
  /* margin: 24px 120px; */
  padding: 8px 12px;
  text-align: center;

  border: 1px solid rgb(214, 149, 84);
  border-radius: 2px;

  font-size: 18px;
  font-weight: 600;

  color: rgb(214, 149, 84);
  background: none;
}

.delete {
  display: flex;
  margin: auto;

  padding: 8px 96px;

  background: rgb(214, 149, 84);
  color: rgb(66, 20, 34);

  font-weight: 700;
  font-size: 16px;

  border: 1px solid rgb(214, 149, 84);
  border-top: none;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
