@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dosis:wght@300;400;500;700&family=Josefin+Slab:ital,wght@0,300;0,600;1,400&family=Rajdhani:wght@300;500;600&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

/* 
font-family: 'Dosis', sans-serif;
font-family: 'Rajdhani', sans-serif; 

font-family: 'Josefin Slab', serif;
font-family: 'Lora', serif; 
font-family: 'Inknut Antiqua', serif;
*/

:root {
  /*Background*/
  --secondary-bg: #18181bff;
  /* --primary-bg: #466c46; */
  /* --primary-bg: #372525; */
  --primary-bg: #37303d;
  /* --primary-accent: #b5b566; */
  --background-tester: #323732;

  /*--------------------------------------------*/
  /* --primary-bg: #663c3f; */
  /* --secondary-bg: #421422; */
  --primary-accent: #d69554;
  --lightest-primary-bg: #edd2d4;
  --light-primary-bg: #7b4e51;
  --dark-primary-bg: #513738;
  --light-primary-accent: #ffcf9e;
  --foilage: #90b788ff;

  /* Text */
  --primary-text: #eab4b4;
  --extra-text: #2e2525ff;

  /* Error */
  --error-bg: #edd9d9;
  --error-accent: #cc3d3d;

  /* Pre-made options:
    seagreen
    darkcyan
    rebeccapurple
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "dosis", sans-serif;
  background: var(--primary-bg);
}
nav a {
  background: var(--light-primary-bg);

  border: 1px solid var(--background-tester);
}

.active:hover {
  text-decoration: none;
}
.active {
  color: var(--secondary-bg);
  background: var(--primary-accent);
  /* border: 1px solid var(--light-primary-accent); */
  border-top: none;
}

.content {
  margin: auto;
  margin-top: 32px;
}

.heading-title,
.author-link,
.date-value,
.tags-value {
  font-family: "Dosis", sans-serif;
}

/* ------------ Design -----------*/
.design-button {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Inknut Antiqua", serif;
  /* font-weight: 400; */
}

/* h2 {
} */

h1,
h2,
h3 {
  line-height: 1em;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  /* text-decoration: underline; */
  cursor: pointer;
}

.error-container {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.error {
  max-width: 600px;
  padding: 24px 96px;

  border: 2px solid var(--error-accent);
  border-radius: 4px;

  background: var(--error-bg);
  color: var(--error-accent);

  text-align: center;
  line-height: 1.6;
}

.btn {
  /* margin: 24px 120px; */
  padding: 8px 12px;
  text-align: center;

  border: 1px solid var(--primary-accent);
  border-radius: 2px;

  font-size: 18px;
  font-weight: 600;

  color: var(--primary-accent);
  background: none;
}

.delete-container {
  /* margin: 24px; */
  margin: auto;
  background: var(--primary-accent);
  display: flex;
  justify-content: center;
  /* border: 1px solid aliceblue; */
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  align-items: center;
}
.delete {
  cursor: pointer;

  padding: 8px 96px;

  background: var(--primary-accent);
  color: var(--secondary-bg);

  font-weight: 700;
  font-size: 16px;

  border: 1px solid var(--primary-accent);
  border-top: none;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.confirm-del-container {
  /* display: flex; */
  margin: 0px 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 8%; */

  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
.delete-message {
  text-align: center;
}

.cancel,
.delete-confirmed {
  text-align: center;
  padding: 12px 18px;
  border-radius: 12px;

  /* padding: 16px 24px; */

  font-weight: 700;
  font-size: 16px;
  border: none;
  border-top: none;
  border-bottom: none;
  /* border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px; */

  cursor: pointer;
  color: var(--secondary-bg);
  background: var(--light-primary-bg);
}

.cancel {
  border: 1px solid var(--dark-primary-bg);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.delete-confirmed {
  border: 1px solid var(--dark-primary-bg);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.cancel:hover,
.delete-confirmed:hover {
  color: var(--lightest-primary-bg);
  background: var(--dark-primary-bg);
}

/*--------------------Mobile----------------------*/
/* desktop */
/* @media only screen and (max-width: 900px) {
} */

/* -------------------- Tablet Styles ---------------- */
@media only screen and (min-width: 510px) and (max-width: 700px) {
  body {
    max-width: 700px;
    min-width: 510px;
    border: 2px solid rgb(34, 0, 255);
  }
}

/* Mobile Styles */
/* @media only screen and (max-width: 405px) {
  * {
    max-width: 400px;
  }
} */
