@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Estonia&family=Cinzel:wght@400;700&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  background: #3d4634ff;
}

h1,
.authorLink,
.date-value,
.tags-value {
  /* maybe: 
  font-family: "Estonia", cursive;
  font-size: 60px;
  font-weight: 700;
  */
  font-family: "Charm", cursive;
}

h1,
h2,
h3 {
  line-height: 1em;
}

a:link,
a:visited {
  color: #8e6032ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
